/* Foundation Setings Overrides
---------------------------------------- */

$body-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

$foundation-palette: (
  primary:    #888,
  secondary:  #fff,
  success:    #3adb76,
  warning:    #ffae00,
  alert:      #ec5840
);

$anchor-color: #8fb5d8;
$anchor-color-hover: #b7d4ef;

$button-padding: 0.65em .92em;


/* Custom Colors
---------------------------------------- */

$navysuit:    #24323b;
$bodytype:    #c8cdd0;
$subtlegray:  #748893;
$darktype:    #284859;
$highlight:   #ededed;
$darkgray:    #555;


/* Typography
---------------------------------------- */

@mixin serif { font-family: "Georgia", serif; }
@mixin heading { font-family: "bebas-neue", "HelveticaNeue-CondensedBold", "Helvetica Neue", sans-serif; }
@mixin highlight { text-transform: uppercase; color: $highlight; }

.wf-loading { visibility: hidden; } // Fix FOUT w/ Typekit
