/* Foundation Setings Overrides
---------------------------------------- */

$body-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

$breakpoints: (
  small: 0,
  medium: 640px,
  large: 1200px,
  xlarge: 1200px,
  xxlarge: 1200px
);

$foundation-palette: (
  primary:    #888,
  secondary:  #fff,
  success:    #3adb76,
  warning:    #ffae00,
  alert:      #ec5840
);

$anchor-color: #8fb5d8;
$anchor-color-hover: #b7d4ef;

$button-padding: 0.65em .92em;


/* Custom Colors
---------------------------------------- */

$navysuit:    #24323b;
$bodytype:    #c8cdd0;
$subtlegray:  #748893;
$darktype:    #284859;
$highlight:   #ededed;
$darkgray:    #555;


/* Typography
---------------------------------------- */

@mixin serif { font-family: "Georgia", serif; }
@mixin heading { font-family: "bebas-neue", "HelveticaNeue-CondensedBold", "Helvetica Neue", sans-serif; }
@mixin highlight { text-transform: uppercase; color: $highlight; }

@mixin block_title { // Same line title, used mostly on smaller viewpoints
  display: block;
  width: 140px;
  font-size: 100%;
  text-align: center;
  text-transform: uppercase;
  background: $navysuit;
  padding: 0 10px;
  margin: -35px auto 0 auto;
}

.wf-loading { visibility: hidden; } // Fix FOUT w/ Typekit
