/* Foundation Setings Overrides */

$body-font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;


/* Typography */

@mixin serif { font-family: "Georgia", serif; }
@mixin heading { font-family: "bebas-neue", "HelveticaNeue-CondensedBold", "Helvetica Neue", sans-serif; }

.wf-loading { visibility: hidden; } // Fix FOUT w/ Typekit


/* Custom Colors */

$navysuit:    #24323b;
$bodytype:    #c8cdd0;
$subtlegray:  #748893;
$darktype:    #284859;
$highlight:   #ededed;
$darkgray:    #555;