/* Base Styling
---------------------------------------- */

body {
  background: $navysuit;
  color: $bodytype;
}


/* Section Styles
---------------------------------------- */

#intro {
  background: #fefefe url(/images/backgrounds/hero.jpg) no-repeat 50% 50%;
  background-size: cover;
  border-bottom: 5px solid darken(#24323b,5%);
  padding: 90px 0 75px 0;

  .photo {
    img.rounded {
      border-radius: 140px;
      width: 260px;
      height: 260px;
      border: 2px solid #fff;
      box-shadow: 5px 5px 0 rgba(0,0,0,.25);
    }//img.rounded
  }//.photo

  .name {
    padding-top: 8px;
    float: right;
    color: $darktype;

    h4 {
      font-size: 160%;
      color: $darkgray;
      font-style: italic;
      @include serif;
    }//h4

    h1 {
      padding-bottom: 10px;
      margin-left: -3px;
      line-height: 1;
      font-size: 600%;
      text-transform: uppercase;
      @include heading;
    }//h1

    .links {
      .hollow.button {
        background-color: rgba(255,255,255,.15);

        &:hover,
        &:active,
        &:focus {
          background-color: #fff;
          border-color: #fff;
        }
      }//.hollow.button
    }//.links
  }//.name
}//#intro

@media #{$small-only} {
  #intro {
    background: #fefefe url(/images/backgrounds/hero.jpg) no-repeat 50% 100%;
    text-align: center;
    padding: 35px 0 55px 0;

    .name {
      float: none;

      h1 {
        font-size: 500%;
        padding-bottom: 12px;
      }
    }//.name

    .links {
      padding-bottom: 22px;
    }
  }//#intro
}//@media small

#approach {
  padding: 50px 0 8px 0;

  .rundown {
    color: $subtlegray;
    text-align: right;
    font-size: 180%;
    font-weight: 200;
    line-height: 1.4;

    span {
      display: block;
    }//span
  }//.rundown

  .action {
    float: right;
    padding-left: 35px;
    font-size: 90%;
  }//.action

  .call {
    h2 {
      font-size: 240%;

      strong {
        color: $highlight;
      }
    }//h2

    .skills {
      margin: 24px 125px 0 0;
      padding-top: 24px;
      border-top: 1px solid $subtlegray;

      span.title {
        font-family: $body-font-family;
        font-size: 80%;
        @include highlight;
      }

      em {
        color: $highlight;
        padding-right: 12px;
        font-size: 130%;
        @include serif;
      }
    }//.skills

    p {
      font-size: 130%;
      line-height: 1.5;
    }//p
  }//.call
}//#approach

@media #{$small-only} {
  #approach {
    padding: 35px 0 30px 0;
    overflow: hidden;

    .rundown {
      margin: 25px 0 0 0;
      font-size: 130%;

      .marquee {
        text-align: center;
      }

      span {
        padding: 0 12px;
      }
    }//.rundown

    .action {
      float: none;
      padding: 0;

      .call {
        padding: 0 25px;

        h2 {
          font-size: 170%;
          padding-bottom: 20px;
        }

        .skills {
          margin-right: 0;

          span.title {
            font-size: 100%;
            display: block;
            width: 140px;
            margin: -35px auto 0 auto;
            text-align: center;
            background: $navysuit;
            padding: 0 10px;
          }

          p {
            font-size: 115%;
            line-height: 1.3;
          }

          em {
            display: block;
            font-size: 120%;
            padding-top: 18px;

            &:first-of-type {
              margin-top: -10px;
              padding-top: 0;
            }
          }
        }//.skills
      }//.call
    }//.action
  }//#approach
}//@media small

#work {
  .portfolio-wrap {
    border-top: 1px solid $subtlegray;
    padding-top: 28px;

    span {
      @include highlight;

      em {
        @include serif;
        text-transform: lowercase;
        padding: 0 3px 0 2px;
      }
    }
  }//.portfolio-wrap

  .portfolio {
    margin-top: 12px;

    .piece {
      margin-bottom: 30px;

      &:last-child {
        margin-right: 0;
      }

      a {
        display: block;
        background: lighten($navysuit,5%);
        padding: 20px 28px 10px 28px;
        min-height: 132px;
        transition: background .5s;

        &:hover {
          background: lighten($navysuit,10%);
        }

        strong {
          color: $white;
        }

        ul {
          padding-top: 6px;
        }
      }
    }//.piece
  }//.portfolio
}//#work

@media #{$small-only} {
  #work {
    .portfolio-wrap {
      padding: 28px 15px 0 15px;

      span.title {
        font-size: 100%;
        display: block;
        width: 190px;
        margin: -41px auto 0 auto;
        text-align: center;
        background: $navysuit;
        padding: 0 10px;
      }
    }

    .portfolio .piece {
      margin-bottom: 15px;

      a {
        min-height: 0;
      }
    }
  }//#work
}//@media small

#copyright {
  padding-bottom: 40px;

  p {
    color: lighten($navysuit,20%);
  }
}

@media #{$small-only} {
  #copyright {
    padding-top: 12px;
    text-align: center;
  }//#copyright
}//@media small